body {
  background-image: url("https://images.unsplash.com/photo-1624438253998-7bb8eca8a3f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmluYW5jZXxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3, .container {
    display: flex;
    justify-content: center;
    margin: 5px;
    color: white;
}

.container {
  margin: 0.5%;;
}

#table {
    display: flex;
    justify-content: center;
    border-collapse:separate;
    border-spacing:4px 5px;
}

td {
  background-color: #e8e8e8;
    text-align: center;
    border-radius: 3px;
    -moz-background-clip: padding; 
    -webkit-background-clip: padding-box;
    background-clip: padding-box;   
    padding: 1px 2px;
}

#coinImgTd {
    border: hidden;
}

#coinImg {
    display: flex;
    justify-content: center;
    padding: 0;
    max-width: 30px;
    max-height: 30px;
    border: hidden;
}

.border-hide {
    border: hidden;
}

.win {
    color: rgb(0, 180, 0);
}
.loss {
    color: red;
}